<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: rgb(33, 33, 65);">
<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <span class="brand-text font-weight-light"><b style="color: rgb(88, 88, 255);">Storage</b><b style="color: rgb(74, 255, 89);">Stock</b>MGR</span>
</a>

<!-- Sidebar -->
<div class="sidebar" style="background-color: rgb(46, 46, 88);">
    
    <!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
        <a href="/consultarUsuarios" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
            Usuários
            </p>
        </a>
        </li>
        <li class="nav-item">
        <a href="/usuarios/form" class="nav-link">
            <i class="nav-icon fas fa-user-plus"></i>
            <p>
            Adicionar Funcionários
            </p>
        </a>
        </li>
        <li class="nav-item">
            <a href="/usuarios/remover/form" class="nav-link">
                <i class="nav-icon fas fa-user-minus"></i>
                <p>
                Remover Funcionários
                </p>
            </a>
        </li>
        <li class="nav-item">
        <a href="/" class="nav-link">
            <i class="nav-icon fas fa-window-close"></i>
            <p>
            Sair
            </p>
        </a>
        </li>
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>